anyascii==0.3.2
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
blinker==1.6.2
brazilcep==6.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.0.7
cycler==0.11.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.13
django-bootstrap-v5==1.0.11
django-filter==22.1
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
docutils==0.21.2
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
executing==2.1.0
filelock==3.12.3
filetype==1.2.0
Flask==2.3.3
fonttools==4.39.4
html5lib==1.1
idna==3.4
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.29.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==25.4.1
kiwisolver==1.4.4
l18n==2021.3
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.5.0
mysqlclient==2.2.4
nest-asyncio==1.6.0
nh3==0.2.18
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pandas==2.0.1
parso==0.8.4
pbr==5.11.1
Pillow==9.5.0
pipenv==2023.9.1
pkginfo==1.10.0
platformdirs==3.10.0
prompt_toolkit==3.0.48
psutil==6.1.0
PuLP==2.7.0
pure_eval==0.2.3
pycep-correios==5.2.0
Pygments==2.18.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pywin32==308
pywin32-ctypes==0.2.3
pyzmq==26.2.0
readme_renderer==44.0
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.2
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
stack-data==0.6.3
stevedore==5.0.0
telepath==0.3.1
threadpoolctl==3.2.0
tornado==6.4.1
traitlets==5.14.3
twine==5.1.1
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.3
vboxapi==1.0
virtualenv==20.24.4
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
wagtail==5.0.1
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==2.3.7
Willow==1.5
zeep==4.2.1
zipp==3.20.2
